#### 4-1 인구현황 데이터 분석

In [ ]:
import pandas as pd
person = pd.read_csv('../data/인구현황.csv')
person

In [14]:
# 1. 지역별 총인구수 Top5
top5 = person[['행정기관','총인구수']].sort_values(by='총인구수',ascending=False)
top5[1:6]

     행정기관      총인구수
9     경기도  13694685
1   서울특별시   9331828
2   부산광역시   3266598
16   경상남도   3228380
4   인천광역시   3021010